<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllBottle</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.AllBottle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBottle</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.AddBottle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChubuPanduan</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.ChubuPanduan</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExecuteChubuPanduan</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.ExecuteChubuPanduan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllBottle</servlet-name>
    <url-pattern>/servlet/AllBottle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBottle</servlet-name>
    <url-pattern>/servlet/AddBottle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChubuPanduan</servlet-name>
    <url-pattern>/servlet/ChubuPanduan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExecuteChubuPanduan</servlet-name>
    <url-pattern>/servlet/ExecuteChubuPanduan</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GlobalDetect</display-name>
    <servlet-name>GlobalDetect</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.GlobalDetect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GlobalDetect</servlet-name>
    <url-pattern>/servlet/GlobalDetect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteGlobalDetection</display-name>
    <servlet-name>ExecuteGlobalDetection</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.ExecuteGlobalDetection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteGlobalDetection</servlet-name>
    <url-pattern>/servlet/ExecuteGlobalDetection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteNoneDestructiveDetection</display-name>
    <servlet-name>ExecuteNoneDestructiveDetection</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.ExecuteNoneDestructiveDetection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteNoneDestructiveDetection</servlet-name>
    <url-pattern>/servlet/ExecuteNoneDestructiveDetection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoneDestructiveDetect</display-name>
    <servlet-name>NoneDestructiveDetect</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.NoneDestructiveDetect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoneDestructiveDetect</servlet-name>
    <url-pattern>/servlet/NoneDestructiveDetect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WaterTest</display-name>
    <servlet-name>WaterTest</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.WaterTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaterTest</servlet-name>
    <url-pattern>/servlet/WaterTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteWaterTest</display-name>
    <servlet-name>ExecuteWaterTest</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.ExecuteWaterTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteWaterTest</servlet-name>
    <url-pattern>/servlet/ExecuteWaterTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InnerDry</display-name>
    <servlet-name>InnerDry</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.InnerDry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InnerDry</servlet-name>
    <url-pattern>/servlet/InnerDry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteInnerDry</display-name>
    <servlet-name>ExecuteInnerDry</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.ExecuteInnerDry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteInnerDry</servlet-name>
    <url-pattern>/servlet/ExecuteInnerDry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BottleValveChange</display-name>
    <servlet-name>BottleValveChange</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.BottleValveChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BottleValveChange</servlet-name>
    <url-pattern>/servlet/BottleValveChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteBottleValveChange</display-name>
    <servlet-name>ExecuteBottleValveChange</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.ExecuteBottleValveChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteBottleValveChange</servlet-name>
    <url-pattern>/servlet/ExecuteBottleValveChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValveInfoQuery</display-name>
    <servlet-name>ValveInfoQuery</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.ValveInfoQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValveInfoQuery</servlet-name>
    <url-pattern>/servlet/ValveInfoQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddValve</display-name>
    <servlet-name>AddValve</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.AddValve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddValve</servlet-name>
    <url-pattern>/servlet/AddValve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteValve</display-name>
    <servlet-name>DeleteValve</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.DeleteValve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteValve</servlet-name>
    <url-pattern>/servlet/DeleteValve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirProofTest</display-name>
    <servlet-name>AirProofTest</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.AirProofTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirProofTest</servlet-name>
    <url-pattern>/servlet/AirProofTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteAirProofTest</display-name>
    <servlet-name>ExecuteAirProofTest</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.ExecuteAirProofTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteAirProofTest</servlet-name>
    <url-pattern>/servlet/ExecuteAirProofTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirProofMethodQuery</display-name>
    <servlet-name>AirProofMethodQuery</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.AirProofMethodQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirProofMethodQuery</servlet-name>
    <url-pattern>/servlet/AirProofMethodQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAirProofTestMethod</display-name>
    <servlet-name>AddAirProofTestMethod</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.AddAirProofTestMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAirProofTestMethod</servlet-name>
    <url-pattern>/servlet/AddAirProofTestMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAirProofTestMethod</display-name>
    <servlet-name>DeleteAirProofTestMethod</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.DeleteAirProofTestMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAirProofTestMethod</servlet-name>
    <url-pattern>/servlet/DeleteAirProofTestMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vacuum</display-name>
    <servlet-name>Vacuum</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.Vacuum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vacuum</servlet-name>
    <url-pattern>/servlet/Vacuum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteVacuum</display-name>
    <servlet-name>ExecuteVacuum</servlet-name>
    <servlet-class>com.tontwen.bottledetection.servlet.ExecuteVacuum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteVacuum</servlet-name>
    <url-pattern>/servlet/ExecuteVacuum</url-pattern>
  </servlet-mapping>
</web-app>