<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllBottle</servlet-name>
    <servlet-class>com.tontwen.bottledetection.AllBottle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBottle</servlet-name>
    <servlet-class>com.tontwen.bottledetection.AddBottle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChubuPanduan</servlet-name>
    <servlet-class>com.tontwen.bottledetection.ChubuPanduan</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExecuteChubuPanduan</servlet-name>
    <servlet-class>com.tontwen.bottledetection.ExecuteChubuPanduan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/servlet/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllBottle</servlet-name>
    <url-pattern>/servlet/AllBottle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBottle</servlet-name>
    <url-pattern>/servlet/AddBottle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChubuPanduan</servlet-name>
    <url-pattern>/servlet/ChubuPanduan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExecuteChubuPanduan</servlet-name>
    <url-pattern>/servlet/ExecuteChubuPanduan</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GlobalDetect</display-name>
    <servlet-name>GlobalDetect</servlet-name>
    <servlet-class>com.tontwen.bottledetection.GlobalDetect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GlobalDetect</servlet-name>
    <url-pattern>/GlobalDetect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tontwen.bottledetection.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>
